{
    "extends": "airbnb",
    "rules": {
      "jsx-quotes": [2, "prefer-single"],
      "react/jsx-curly-spacing": [4, "always"],
      "react/prefer-stateless-function": [0],
      "linebreak-style": 0,
      "import/extensions": 0,
      "import/no-extraneous-dependencies": 0,
      "import/no-unresolved": 0,
      "import/prefer-default-export": 0,
      "import/resolver": "webpack",
      "indent-size": [true, 2]
    }
  }