@font-face {
  font-family: "HorsebackSlab";
  src: url('/static/fonts/HorsebackSlab-Bold.ttf');
  src: url('/static/fonts/HorsebackSlab-Bold.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'digital-7';
    src: url('/static/fonts/digital-7 (mono).ttf');
    src: url('/static/fonts/digital-7 (mono).ttf')  format('truetype');
    }

  @font-face {
    font-family: 'museo-slab';
    src: url('/static/fonts/MuseoSlab-300.otf');
    src: url('/static/fonts/MuseoSlab-300.otf')  format('truetype');
    }

    @font-face {
      font-family: 'museo-slab-bold';
      src: url('/static/fonts/MuseoSlab-900.otf');
      src: url('/static/fonts/MuseoSlab-900.otf')  format('truetype');
      }

  horseText {
    font-family: 'HorsebackSlab', Fallback, serif;
  }

  tryThis {
    color: 'red'
  }