@font-face {
  font-family: "HorsebackSlab";
  src: url('/static/fonts/HorsebackSlab-Bold.ttf');
  src: url('/static/fonts/HorsebackSlab-Bold.ttf')  format('truetype');
  }

  horseText {
    font-family: 'HorsebackSlab', Fallback, serif;
  }

  tryThis {
    color: 'red'
  }