@font-face {
  font-family: "HorsebackSlab";
  src: url("./HorsebackSlab-Bold.ttf");
  src: url('./HorsebackSlab-Bold.ttf')  format('truetype')
  }

  horseText {
    font-family: 'HorsebackSlab', Fallback, sans-serif;
  }